<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Modules SYSTEM '../dtd/Module.dtd'>
<Modules>
    <Module ignore="false">
        <MainModule>
            <beanId>assessQuotaSelfEvaluate</beanId>
            <moduleName>AssessQuotaSelfEvaluate</moduleName>
            <tableName>BIZ_ASSESS_QUOTA_SELF_EVALUATE</tableName>
            <moduleZHName>考核指标体系自评</moduleZHName>
            <packageName>com.eplugger.business.assessQuotaSelfEvaluate</packageName>
            <superClassMap>
                <param key="entity" value="CheckBusinessEntity" />
                <param key="bo" value="CheckBusinessBO" />
                <param key="action" value="CheckBusinessAction" />
            </superClassMap>
            <joinColumn>assessEvaluateId</joinColumn>
            <Fields>
                <Field>
                    <fieldId>assessTimeId</fieldId>
                    <fieldName>考核批次</fieldName>
                    <dataType>String</dataType>
                    <precision>32</precision>
                </Field>
                <Field updateInsert="false" association="ManyToOne" ignoreImport="true">
                    <fieldId>assessTime</fieldId>
                    <fieldName>考核批次</fieldName>
                    <dataType>AssessTime</dataType>
                    <joinColumn>ASSESS_TIME_ID</joinColumn>
                </Field>
                <Field>
                    <fieldId>unitId</fieldId>
                    <fieldName>部门名称</fieldName>
                    <dataType>String</dataType>
                    <categoryName>PERSON_KY_UNIT</categoryName>
                    <precision>32</precision>
                </Field>
                <Field>
                    <fieldId>sciResPlanScore</fieldId>
                    <fieldName>科研规划</fieldName>
                    <dataType>Integer</dataType>
                </Field>
                <Field>
                    <fieldId>projectApplyScore</fieldId>
                    <fieldName>项目申报</fieldName>
                    <dataType>Integer</dataType>
                </Field>
                <Field>
                    <fieldId>dailyManageScore</fieldId>
                    <fieldName>日常管理</fieldName>
                    <dataType>Integer</dataType>
                </Field>
                <Field>
                    <fieldId>sciResPerformanceScore</fieldId>
                    <fieldName>科研业绩</fieldName>
                    <dataType>Integer</dataType>
                </Field>
                <Field>
                    <fieldId>serviceSocialScore</fieldId>
                    <fieldName>服务社会</fieldName>
                    <dataType>Integer</dataType>
                </Field>
                <Field>
                    <fieldId>studentJoinScore</fieldId>
                    <fieldName>学生参与科研</fieldName>
                    <dataType>Integer</dataType>
                </Field>
                <Field>
                    <fieldId>achieveTransTeachScore</fieldId>
                    <fieldName>成果转化教学项目</fieldName>
                    <dataType>Integer</dataType>
                </Field>
            </Fields>
        </MainModule>
    </Module>
</Modules>