<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Modules SYSTEM '../dtd/Module.dtd'>
<Modules>
	<Module ignore="false">
		<MainModule>
			<beanId>yfContractCooperationUnit</beanId>
			<moduleName>YFContractCooperationUnit</moduleName>
			<tableName>BIZ_YF_CONTRACT_COOPERATION_UNIT</tableName>
			<moduleZHName>横向合作单位</moduleZHName>
			<packageName>com.eplugger.business.contract</packageName>
			<superClassMap>
				<param key="entity" value="EntityImpl" />
				<!-- <Clazz key="bo" value="PublicBusiness" />
				<Clazz key="action" value="PublicAction" /> -->
			</superClassMap>
			<Fields>
				<Field>
					<fieldId>orderId</fieldId>
					<fieldName>排序号</fieldName>
					<dataType>Integer</dataType>
					<precision>32</precision>
				</Field>
				<Field>
					<fieldId>unitName</fieldId>
					<fieldName>合作方名称</fieldName>
					<dataType>String</dataType>
					<precision>500</precision>
				</Field>
				<Field>
					<fieldId>unitType</fieldId>
					<fieldName>合作方类型</fieldName>
					<dataType>String</dataType>
					<categoryName>UNIT_TYPE_YF</categoryName>
					<precision>50</precision>
				</Field>
				<Field>
					<fieldId>unitContacter</fieldId>
					<fieldName>合作方联系人</fieldName>
					<dataType>String</dataType>
					<precision>50</precision>
				</Field>
				<Field>
					<fieldId>unitContactNum</fieldId>
					<fieldName>合作方联系电话</fieldName>
					<dataType>String</dataType>
					<precision>32</precision>
				</Field>
				<Field>
					<fieldId>unitContactArea</fieldId>
					<fieldName>合作方所属省份</fieldName>
					<dataType>String</dataType>
					<categoryName>JF_LOCATION</categoryName>
					<precision>32</precision>
				</Field>
				<Field>
					<fieldId>unitContactCity</fieldId>
					<fieldName>合作方所属地市</fieldName>
					<dataType>String</dataType>
					<categoryName>JF_CITY</categoryName>
					<precision>32</precision>
				</Field>
				<Field>
					<fieldId>contractId</fieldId>
					<fieldName>合同编号</fieldName>
					<dataType>String</dataType>
					<precision>32</precision>
				</Field>
				<Field association="ManyToOne" ignoreImport="true" updateInsert="false">
					<fieldId>yfContract</fieldId>
					<fieldName>横向项目</fieldName>
					<dataType>YFContract</dataType>
					<joinColumn>CONTRACT_ID</joinColumn>
				</Field>
			</Fields>
		</MainModule>
	</Module>
	<Module ignore="true">
		<MainModule>
			<beanId>projectBusinessPlan</beanId>
			<moduleName>ProjectBusinessPlan</moduleName>
			<tableName>BIZ_PROJECT_BUSINESS_PLAN</tableName>
			<moduleZHName>项目业务计划</moduleZHName>
			<packageName>com.eplugger.business.projectBusiness</packageName>
			<superClassMap>
				<param key="entity" value="BusinessEntity" />
				<param key="bo" value="BusinessBO" />
				<param key="action" value="BusinessAction" />
			</superClassMap>
			<Fields>
				<Field>
					<fieldId>name</fieldId>
					<fieldName>计划名称</fieldName>
					<dataType>String</dataType>
					<precision>500</precision>
				</Field>
				<Field>
					<fieldId>projectType</fieldId>
					<fieldName>项目分类</fieldName>
					<dataType>String</dataType>
					<precision>32</precision>
				</Field>
				<Field>
					<fieldId>projectClass</fieldId>
					<fieldName>项目性质</fieldName>
					<dataType>String</dataType>
					<precision>32</precision>
				</Field>
				<Field>
					<fieldId>startDate</fieldId>
					<fieldName>开始日期</fieldName>
					<dataType>Date</dataType>
				</Field>
				<Field>
					<fieldId>endDate</fieldId>
					<fieldName>结束日期</fieldName>
					<dataType>Date</dataType>
				</Field>
				<Field>
					<fieldId>businessType</fieldId>
					<fieldName>业务类别</fieldName>
					<dataType>String</dataType>
					<precision>32</precision>
				</Field>
				<Field>
					<fieldId>planStatus</fieldId>
					<fieldName>计划状态</fieldName>
					<dataType>String</dataType>
					<categoryName>PLAN_STATUS</categoryName>
					<precision>32</precision>
				</Field>
				<Field>
					<fieldId>fileIds</fieldId>
					<fieldName>说明附件</fieldName>
					<dataType>String</dataType>
					<precision>500</precision>
				</Field>
				<Field>
					<fieldId>note</fieldId>
					<fieldName>备注</fieldName>
					<dataType>String</dataType>
					<precision>4000</precision>
				</Field>
				<Field association="OneToMany">
					<fieldId>materials</fieldId>
					<fieldName>材料</fieldName>
					<dataType>List</dataType>
					<joinColumn>BUSINESS_PLAN_ID</joinColumn>
					<genericity>ProjectBusinessMaterial</genericity>
				</Field>
			</Fields>
		</MainModule>
		<!-- <AuthorModule>
			<beanId>projectBusinessMaterial</beanId>
			<moduleName>ProjectBusinessMaterial</moduleName>
			<tableName>BIZ_PROJECT_BUSINESS_MATERIAL</tableName>
			<moduleZHName>项目业务材料</moduleZHName>
			<Fields>
				<Field>
					<fieldName>项目ID</fieldName>
					<fieldId>projectId</fieldId>
					<precision>32</precision>
				</Field>
				<Field dataType="VProject" association="ManyToOne">
					<fieldName>项目</fieldName>
					<fieldId>project</fieldId>
					<joinColumn>PROJECT_ID</joinColumn>
				</Field>
				<Field>
					<fieldName>提交状态</fieldName>
					<fieldId>submitStatus</fieldId>
					<precision>32</precision>
				</Field>
				<Field onlyMeta="true">
					<fieldName>项目名称</fieldName>
					<fieldId>project.name</fieldId>
				</Field>
				<Field onlyMeta="true">
					<fieldName>项目ID</fieldName>
					<fieldId>project.id</fieldId>
				</Field>
				<Field onlyMeta="true">
					<fieldName>负责人</fieldName>
					<fieldId>project.chargerName</fieldId>
				</Field>
				<Field onlyMeta="true">
					<fieldName>负责人ID</fieldName>
					<fieldId>project.chargerCode</fieldId>
				</Field>
				<Field onlyMeta="true">
					<fieldName>所属单位</fieldName>
					<fieldId>project.unitId</fieldId>
				</Field>
				<Field dataType="Date" onlyMeta="true">
					<fieldName>立项日期</fieldName>
					<fieldId>project.authorizeDate</fieldId>
				</Field>
				<Field dataType="Date" onlyMeta="true">
					<fieldName>计划完成日期</fieldName>
					<fieldId>project.planEndDate</fieldId>
				</Field>
			</Fields>
		</AuthorModule> -->
	</Module>
	<Module ignore="true">
		<MainModule>
			<beanId>projectApplyBookDirectlaborcost</beanId>
			<moduleName>ProjectApplyBookDirectlaborcost</moduleName>
			<tableName>BIZ_PROJECT_APPLY_BOOK_DIRECTLABORCOST</tableName>
			<moduleZHName>直接人力成本</moduleZHName>
			<packageName>com.eplugger.business.projectApply</packageName>
			<superClassMap>
				<param key="entity" value="CheckBusinessEntity" />
			</superClassMap>
			<Fields>
				<Field>
					<fieldId>demandType</fieldId>
					<fieldName>需求类型</fieldName>
					<dataType>String</dataType>
					<categoryName>DEMAND_TYPE</categoryName>
					<precision>32</precision>
				</Field>
				<Field>
					<fieldId>month</fieldId>
					<fieldName>月份</fieldName>
					<dataType>String</dataType>
					<categoryName>MONTH</categoryName>
					<precision>32</precision>
				</Field>
				<Field>
					<fieldId>workload</fieldId>
					<fieldName>工作量（人月）</fieldName>
					<dataType>Double</dataType>
				</Field>
			</Fields>
		</MainModule>
	</Module>
</Modules>