<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Users SYSTEM "./web.dtd">

<Users>
	<date>2020/04/07</date>
	<state>12350</state>
    <User id="1">
        <name>red</name>
        <age>18</age>
        <sex>man</sex>
    </User>
    <User id="2">
        <name>blue</name>
        <age>19</age>
        <sex>woman</sex>
    </User>
    <User id="3">
        <name>storm</name>
        <age>20</age>
        <sex>woman</sex>
    </User>
</Users>
